@model Tripper.Models.Vendas

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Produtos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Produtos.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estabelecimentos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estabelecimentos.RazaoSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedores)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedores.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
